.footer{
    font-family: 'Lato';
    background-color: lightsalmon;
    padding: 50px;
}
.footer h1{
   color: maroon;
   text-align: center;
   padding: 10px;
   margin-bottom: 0px;
}
.footer p{
    text-align: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}